.homepageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100vh;
}

.formWrapper {
  background: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

.formWrapperText{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 10vh; */
}

.formWrapperText h2{
  margin: 0;
}

.passwordResetText{
  /* height: 10vh; */
  display: flex;
  justify-content: center;
  align-items: center;

}

.passwordResetText a{
  color: #8951f9;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0;
}

footer a {
  color: #8951f9;
  text-decoration: none;
}

.logoImg {
  width: 100%;
  margin-bottom: 30px;
  display: block;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.main-room-label {
  margin-bottom: 20px;
  margin-top: 0;
}

.inputBox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 20px;
  color: #242424;
  background-color: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  border: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all;
  transition-duration: 0.3ms;
  transition-timing-function: ease-in-out;

}

.join-btn {
  background-color: #8951f9;
  color: #fff;
  width: 100px;
  margin-left: auto;
}

.join-btn:hover {
  background-color: #6e3ed9;
  transition: all 0.5 ease-in;
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createInfo a {
  color: #8951f9;
  text-decoration: none;
  border-bottom: 1px solid #8951f9;
  transition: all 0.3 ease-in-out;
}

.createInfo a:hover {
  color: #6e3ed9;
  border-bottom: 1px solid #6e3ed9;
}

.mainWrap {
  /* padding: 40px; */
  display: grid;
  grid-template-columns: 230px 1fr;
  height: 100vh;
}

.aside {
  background: #1c1e29;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.asideInner {
  flex: 1;
}

.clientsList{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logoImage{
  width: 200px;
  /* object-fit: contain; */
}

.logo{
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.userName{
  margin-top: 10px;
}

.editorWrap{
  background: #fff;
  height: 97vh;
  /* padding: 16px; */
}

.leaveBtn{
  margin-top: 20px;
  background: #8951f9;
}

.copyBtn{
  background: #eee;
  color: #000;
}

.contextMenu{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.contextMenu ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  z-index: 10000;
}

.contextMenu ul li{
  padding-right: 10px;
  padding-top: 10px;

}

.icon-large {
  font-size: 24px;
  /* width: 50/px; */
}

.icon-large:hover{
  font-size: 32px;
}

.editor{
  display: flex;
  flex-direction: row;
  
}